$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.items {
  margin-left:0;
  .item {
    overflow: auto;
    list-style:none;
    border:1px solid #eaeaea;
    position:relative;
    min-height:100px;
    margin-bottom:1em;
    padding:1em;
    .photo{
      position:absolute;
      left:1em;
      top:1em;
      width:100px;
    }
    .description {
      margin-left: 110px;
    }
  }

}