<div ng-controller="PostsCtrl" >
  <form ng-submit="submit()">
    <fieldset>
      <legend>Post</legend>
      <label>Title</label>
      <input type="text" ng-model='post.title' placeholder="Type something…" class='span6'>
      <label>Content</label>
      <textarea ng-model='post.content' placeholder="Type something…" class='span6' rows='5'></textarea>
      <div class='form-actions'>
        <input type="submit" value="{{ formState }}" class="btn">
      </div>
    </fieldset>
  </form>

  <ul id='posts' class="posts">
    <li class="post" ng-repeat="post in posts | orderBy:'id':true">
      <div class="row-fluid">
        <div class="id span1">{{post.id}}:{{ $index }}</div>
        <div class="content_div span11">
            <div class="title">{{post.title}}</div>
            <div class='content'>{{ post.content }}</div>
        </div>
      </div>
      <div class="action_panel" showonhoverparent>
        <span ng-click="editPost(post,$index)"><a class="btn btn-mini btn-info"
                                           href="#/posts"><i class="icon icon-edit"></i></a></span>
        <span ng-click="deletePost(post)"><a class="btn btn-mini btn-danger" href="#/posts"><i
            class="icon icon-trash"></i></a></span>
      </div>
    </li>
  </ul>
</div>
<hr>
<a href="/">Home</a>